page-pokemon-detail {

}

.title_favourite_container {
	display: table;
	vertical-align: middle;
    width: 100%;
}

.title {
	display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.favourite {
	display: table-cell;
    vertical-align: middle;
    width: 100%;
}