page-pokedex {

}

.search_favourite_container {
	display: table;
	vertical-align: middle;
    width: 100%;
}

.searchbar {
	display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.favourite {
	display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.top_container {
	
}

.pokemon_image {
	display: inline-block;
	width: 49%;
	margin: 0 auto;
}

.height_weight_container {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	height: 100%;
	margin: 0 auto;
}

.height_weight_content {
	display: block;
	width: 100%;
	margin: 0 auto;
}