<!--
  Generated template for the PokedexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pokedex</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<div class="search_favourite_container">
		<ion-searchbar
			class="searchbar"
			[(ngModel)]="searchQuery"
			(change)="search($event)">
		</ion-searchbar>
		<button ion-button icon-only round
			[hidden]="pokemon == undefined"
			(click)='presenter.favouriteClicked();'
			class="favourite">
			<ion-icon 
				name="star"
				color="{{favouriteBtnColor}}"></ion-icon>
		</button>
	</div>
	
	<h1 
		*ngIf="pokemon !== undefined"
		text-center>
		{{pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1)}}
	</h1>

	<div class="top_container">
		<img 
			class="pokemon_image" 
			*ngIf="pokemon !== undefined" 
			[src]="pokemon.sprites.front_default">

		<div class="height_weight_container"
			padding>
			<p class="height_weight_content" 
				*ngIf="pokemon !== undefined">
				Weight: {{pokemon.weight}}
			</p>
			<p class="height_weight_content" 
				*ngIf="pokemon !== undefined">
				Height: {{pokemon.height}}
			</p>
		</div>
	</div>

	<p text-center>
		{{descriptionText}}
	</p>

</ion-content>
