page-pokedex {

}

.top_container {
	
}

.pokemon_image {
	display: inline-block;
	width: 49%;
	margin: 0 auto;
}

.height_weight_container {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	height: 100%;
	margin: 0 auto;
}

.height_weight_content {
	display: block;
	width: 100%;
	margin: 0 auto;
}